<div class="fluid ui pink card">
  <div class="content">
    <a class="header"><%= @item.name %></a>
    <div class="description">
      <%= @item.intro %>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="lab icon"></i>
      <%= @item.num %>
    </a>
  </div>
  <%= link_to '编辑', edit_item_path(@item),
  class: 'ui bottom attached button' %>
</div>
