<div class="ui container">
  <%= render "notice_alert" %>
  <%= yield %>
</div>

<script>
 $('.message .close')
    .on('click', function() {
      $(this)
      .closest('.message')
      .transition('fade')
        ;
    })
   ;
</script>
