<div class="ui pink inverted vertical footer segment">
  <div class="ui center aligned container">
    <%= image_tag("logo.jpg", :class => "ui centered mini image") %>
    <div class="ui list">
      <div class="item">&copy; <%= t :copyright_owner %> 保留所有权利</div>
    </div>
  </div>
</div>
