<!-- 网站导航 -->
<% if user_signed_in? %>
  <div class="ui four item labeled icon inverted attached borderless small menu">
    <a class="item" href="/items"><i class="lab icon"></i>我的药品</a>
    <a class="item" href="/items/new"><i class="add square icon"></i>添加</a>
    <a class="item" href="/search"><i class="search icon"></i>搜索</a>
    <a class="item" href="/users/edit"><i class="setting icon"></i>个人设置</a>
  </div>
<% end %>
